<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page-model-aboutTeachingTask" id="page-model-aboutTeachingTask">
    <!-- Modal -->
    <div class="modal fade" id="modifyTeachingTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="aboutteachingTask-times-btn" type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelForTeachingTask">新建教学任务</h4>
                </div>

                <!--          <th>工号</th>-->
                <!--          <th>姓名</th>-->
                <!--          <th>性别</th>-->
                <!--          <th>年龄</th>-->
                <!--          <th>联系电话</th>-->
                <!--          <th>操作</th>-->

                <!--          <td th:text="${teacher.jobNo}">*</td>-->
                <!--          <td th:text="${teacher.realName}">*</td>-->
                <!--          <td th:text="${teacher.gender}">*</td>-->
                <!--          <td th:text="${teacher.age}">*</td>-->
                <!--          <td th:text="${teacher.contactNumber}">*</td>-->

                <div class="modal-body">
                    <form action="/teachingTask/save" method="post">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="TeachingTaskId" name="id" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskTtname">教学任务名</label>
                            <input type="text" class="form-control" id="TeachingTaskTtname" name="ttname"
                                   placeholder="输入教学任务名">
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskClassGradeId">班级</label>
                            <select class="form-select form-control" id="TeachingTaskClassGradeId" name="classGradeId">
                                <option th:each="classAndGrade,iterStat:${classAndGrades}"
                                        th:text="${classAndGrade.className}" th:value="${classAndGrade.id}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskCourseId">课程</label>
                            <select class="form-select form-control" id="TeachingTaskCourseId" name="courseId">
                                <option th:each="course,iterStat:${courses}"
                                        th:text="${course.cname}" th:value="${course.id}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskTeacherId">任课老师</label>
                            <select class="form-select form-control" id="TeachingTaskTeacherId" name="teacherId">
                                <option th:each="teacher,iterStat:${teachers}"
                                        th:text="${teacher.realName}" th:value="${teacher.id}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskSchoolYear">学年</label>
                            <input type="text" class="form-control" id="TeachingTaskSchoolYear" name="schoolYear"
                                   placeholder="输入学年">
                        </div>

                        <div class="form-group">
                            <label for="TeachingTaskSchoolTerm">学期</label>
                            <input type="text" class="form-control" id="TeachingTaskSchoolTerm" name="schoolTerm"
                                   placeholder="输入学期">
                        </div>


                        <div>
                            <span id="error-message-TeachingTask" style="color: red"></span>
                            <span id="ok-message-TeachingTask" style="color: green"></span>
                        </div>
                        <div class="modal-footer">
                            <button id="aboutTeachingTask-close-btn" type="button" class="btn btn-default"
                                    data-dismiss="modal">退出
                            </button>
                            <button id="aboutTeachingTask-btn" type="button" class="btn btn-primary">保存</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>